@font-face {
        font-family: 'Norse Bold'; /* Choose a name for your font */
        src: url('./media/Norse-Bold.otf') format('opentype');
        font-weight: normal; /* Define font weight if applicable */
        font-style: normal;  /* Define font style if applicable */
        font-display: swap; 
    }

*{
    flex-direction: column;
}

body {
    display:flex;
    flex-direction: row;
    box-sizing: border-box;
    margin: 0;
}

.splash{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url('./media/bgByHaileyWest.jpg');
    background-size:cover;
    background-position: center;
    height: 100vh;
    width: 80vw;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.488);
    text-align: center;
    padding: 10px;
    margin: 150px 0px auto 0px;
}
.logo img {
    opacity: 100%;
    height: 80px;
}
.logo span {
    font-family: 'Norse Bold', sans-serif;
    font-size: 90px;
    color: white;
}
.attribution {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 10px;
    color: white;
    padding:20px;
}
.attribution a {
    color: white;
}

top {
    display: block;
    background-color: grey;
    padding: 120px 5px;
}
